* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	/* min-width: 1000px; */
	font-family: Arial;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

/* Top */

.black-bar {
	background-color: black;
	color: white;
	padding: 20px 0;
	font-size: 16px;
	overflow: hidden;
}

.black-bar__title {
	float: left;
}

.black-bar__link {
	color: #fff;
}

.black-bar__datetime {
	float: right;
}
	/* HEADER */
.header {
	height: 100px;
	font-size: 12px;
	color: #909090;
}

.header__logo {
	margin-top: 40px;
	float: left;
}

.header__select {
	position: relative;
	float: left;
	margin-top: 52px;
	margin-left: 30px;
	width: 80px;
}

.header__select select {
	display: block;
	width: 100%; /* от ширины блока div */
	background: none; /* убираем фон */
	border: none; /* рамка */
	-webkit-appearance: none;/* Chrome */
	-moz-appearance: none;/* Firefox */
	appearance: none;/* убираем дефолнтные стрелочки */
	font-family: inherit;/* наследует от родителя */
	color: #448ccb;
	border-bottom: 1px dashed #448ccb;
}

.header__select:after {
	content: url('img/select.png');
	display: block;
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 0%;
	z-index: 1;
	margin-top: -9px;
}

.header__day {
	/* float: right; */
	float: left;
	margin-top: 54px;
	margin-right: 30px;
	margin-left: 65px;
}

.header__clock {
	/* float: right; */
	float: left;
	margin-top: 54px;
	margin-right: 30px;
}

.clock__time {
	float: right;
	margin-left: 10px;
}
.header__weather {
	/* float: right; */
	float: left;
	margin-top: 50px;
	margin-right: 47px;
}

.weather__deg {
	float: right;
	margin-left: 10px;
}

.header__search {
	/* float: right; */
	float: left;
	margin-top: 40px;
	height: 45px;
	width: 320px;
	background-color: #f3f3f3;
	border-radius: 24px;
	overflow: hidden;
}

.search__input {
	width: 244px;
	height: 45px;
	border: none;
	background-color: #f3f3f3;
	padding-left: 20px;
}

.search__btn {
	float: right;
	padding: 15px 20px;
	line-height: 0;
}
	/* MENU */
.menu-container {
	height: 70px;
}

.list{
	overflow: hidden; 
	padding-top: 25px; 
	list-style: none; 
}
.list__item{	
	float: left;
	position: relative;
}
	.list__item a{
		display: block;
	text-decoration: none; 
	color: #a8a8a8; 
	padding: 5px 23px; 
}
.list__item:first-child a{
	padding-left: 0;
}
.list__item a:hover{
	text-decoration: underline;
}
.list__item.active a{
	color: #448ccb;  
}
.list__item a:after {
	content: "/";
	position: absolute;
	right: 0%;
}
.list__item:last-child a:after {
 content: "";
}

/* Page */

.page {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

.page .fixed-container {
	overflow: hidden;
}
/* Left */
.sidebar-left {
	background-color: #FFFFFF;
	/* width: 250px; */
	width: 25%;
	float: left;
}

.sidebar-left__title {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

	.news-item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item__text {
		margin-bottom: 20px;
	}

	.news-item__props {
		font-size: 12px;
		position: relative;
	}

		.news-item__props a {
			color: #91919f;
		}

		.props__news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.props__news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}

.all {
	display: block;
	color: #448ccb;
	text-decoration: none;
	border: 1px solid #448ccb;
	width: 95px;
	/* height: 45px; */
	border-radius: 25px;
	margin: 0 auto;
	padding: 15px 43px;
	margin-bottom: 25px;
	overflow-wrap: break-word;
}
/* Center */
.main-content {
	/* width: 460px; */
	width: 46%;
	/* margin-left: 20px; */
	margin-left: 2%;
	float: left;
}

.new__main {
	background: url(img/big-new.png);
	color: #fff;
	font-size: 12px;
	height: 322px;

}

.new__section {
	padding-top: 110px;
	padding-left: 25px;
}

.new__title {
	padding-left: 25px;
	padding-top: 20px;
	font-size: 30px;
}

.new__day {
	padding-left: 25px;
	padding-top: 25px;
	float: left;
}

.new__time {
	padding-left: 20px;
	padding-top: 25px;
	float: left;
}




.news__item {
	padding-top: 20px;
	float: left;
	/* width: 220px; */
	width: 47.8%;
}

.news__item img {
	width: 100%;
}

.news__item:nth-child(even) {
	/* padding-left: 20px; */
	padding-left: 4.3%;
} 

.news__link {
	color: #000;
	text-decoration: none;
}

.news__title {
	height: 80px;

}


.sidebar-right {
	width: 25%;
	float: right;
}

.sidebar-right img{
	width: 100%;
}

.sidebar-right img:first-child {
	margin-bottom: 20px;
}

.special-news {
	margin-top: 20px;
}

/* Most read news */
.special__left {
	/* width: 588px; */
	width: 58.8%;
	float: left;
}

.most-read__new {
	background: url(img/most-read.png);
	color: #fff;
	font-size: 12px;
	height: 393px;

}

.most-read__new .new__section {
	padding-top: 110px;
	padding-left: 25px;
}

.most-read__new .new__title {
	padding-left: 25px;
	padding-top: 20px;
	font-size: 30px;
}

.most-read__new .new__day {
	padding-left: 25px;
	padding-top: 15px;
	float: left;
}

.most-read__new .new__time {
	padding-left: 20px;
	padding-top: 15px;
	float: left;
}

.new__describe {
	clear: left;
	padding-top: 25px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 1.5;
}


.special__right {
	/* width: 412px; */
	width: 41.2%;
	float: right;
}

/* Footer */
.footer {
	margin-top: 20px;
	height: 260px;
	background-color: #00122f;
	border-bottom: 1px solid #26354e;
}

.footer__1,.footer__2 {
	/* width: 80px; */
	float: left;
	padding-top: 55px;
}

.footer__1 a,.footer__2 a,.footer__center a,.footer__contacts a  {
	text-decoration: none;
	color: #fff;

}

.footer__1 a:not(:first-child),.footer__2 a:not(:first-child),.footer__center a:not(:first-child),.tel,.mail {
	display: block;
	padding-top: 20px;
}

.vk,.f,.tw,.ig {
	display: inline-block;
}


.footer__2 {
	padding-left: 60px;
}

.footer__center {
	float: left;
	padding-top: 60px;
	padding-left: 200px;
}

.footer__contacts {
	float: right;
	padding-top: 55px;
	width: 180px;
}

.copy {
	height: 50px;
	background-color: #00122f;
}

.copy p {
	color: #fff;
	text-align: center;
	line-height: 50px;
}

@media (max-width: 1199.98px) { /* desktop */
	.header {
		height: 170px;
	}

	.header__search {
		clear: both;
	}

  .fixed-container {
		width: 940px;		
	}

	.special__left {
		width: 100%;
	}
	.most-read__new {
		background-size: cover;
	}
	.special__right {
		float: left;
		width: 100%;
	}
	.special__right .news-item {
		width: 30%;
		float: left;
	}

	/* .sidebar-left,.sidebar-right {
		width: 235px;
	}

	.main-content {
		width: 432px;
		margin-left: 18px;
	}

	.news__item {
		width: 206px;
	}

	.news__item img {
		width: 100%;
	}

	.special__left {
		width: 545px;
	}

	.special__right {
		width: 385px;
	} */
}

@media (max-width: 991.98px) {  /* tablet */
  .fixed-container {
		width: 752px;		
	}

	.sidebar-right {
		display: none;
	}

	.sidebar-left {
		width: 40%;
	}

	.main-content {
		width: 58%;
	}
/* начало бургера */
	.menu-container {
		transition: 2s;
	}

	.menu-container.active {
		height: 320px;
	}

	.burger-wrapper {
		display: block;
		padding: 25px 0 0 25px;
	}

	.burger  {
		position: relative;
		width: 30px;
		height: 20px;
	}
	.burger span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}
	.burger:before,.burger:after {
		content:'';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.burger:before {
		top: 0;
	}
	.burger:after {
		bottom: 0;
	}

	.burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.burger.active span {
		transform: scale(0);
	}

	.list {
		display: none;
	}
	.list.active {
		display: block;
	}

	.list__item {
		float: none;
		/* padding: 5px; */
	}
	.list__item a:after {
		content:'';
	}
	.list__item a {
		padding: 5px 23px;
	}
	.list__item:first-child a {
		padding-left: 23px;
	}
/* конец бургера */

.footer__center {
	padding-left: 100px;
}
}

@media (max-width: 767.98px) {  /* small devices */
  .fixed-container {
		width: 320px;
	}

	.header {
		height: 235px;
	}

	.header__day,.header__search,.header__clock {
		margin-top: 25px;
	}

	.header__weather {
		margin-top: 20px;
	}

	.sidebar-left,.main-content,.news__item {
		width: 100%;
	}

	.news-item {
		width: 284px;
	}

	.special__right .news-item {
		width: 284px;
	}

	.footer {
		height: 675px;
	}

	.footer__center {
		padding: 55px 0 0 70px;
	}
	.footer__contacts {
		padding-right: 75px;
	}

	.rights {
		display: none;
	}
}